:host {
    display: block;
    position: relative;
    overflow: hidden; /* Evita que los hijos que flotan salgan del contenedor */
    width: 100%;
  }
  
  .parallax-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  ::slotted(*) {
    /* Forzamos que los hijos tengan voluntad de cambio para optimizar GPU */
    will-change: transform;
    transition: transform 0.1s cubic-bezier(0.2, 0.8, 0.2, 1);
  }