node-linker=isolated
package-import-method=copy
strict-peer-dependencies=false
shamefully-hoist=false
link-workspace-packages=true
public-hoist-pattern[]=*angular*
public-hoist-pattern[]=*nestjs*
public-hoist-pattern[]=@types/*
