/* lib-panel.css */
:host {
  /* Un panel suele tener bordes más marcados o diferentes paddings */
  padding: var(--lib-space-xl);
  border-radius: var(--lib-radius-lg); /* Un poco más redondeado que la card */
  transition: all 0.3s ease;
}

/* Aplicamos el efecto glass a los contenedores internos si el host tiene [glass] */
:host([glass]) {
  border-color: transparent !important;
  box-shadow: none !important;

  /* Invocamos las variables de glass.css directamente en el host */
  --glass-bg: rgb(255, 255, 255, 0.05);

  backdrop-filter: blur(12px);
  background: var(--glass-bg) !important;
}
