@import "@shibui-ui/ui/tokens";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh; /* Para que siempre ocupe al menos el alto de la pantalla */
}

